
.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.selection {
    display: flex;
    flex: 4;
    gap: 20px;

    select{
        border: none;
        background: transparent;
    }
}

.account {
    display: flex;
    flex: 1.2;
    justify-content: space-between;
    align-items: center;
}

.title{
    text-align: center;
    margin: 60px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 70px;

   
    li {
        list-style-type: none;
        
        
    }
}
.active{
    text-decoration: none;
    color: #000;
}
