div{
    text-align: center;
}
.title{
    margin: 50px 0;
}
.md-ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.md-li{
    list-style-type: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;

    &:hover{
        border-bottom: 2px solid #46c3f5;
        cursor: pointer;
        color: #46c3f5;
    }
}